[submodule "submodules/muterm-framework.git"]
	path = submodules/muterm-framework.git
	url = git://github.com/pepeiborra/muterm-framework.git
[submodule "submodules/term.git"]
	path = submodules/term.git
	url = git://github.com/pepeiborra/term.git
[submodule "submodules/prolog.git"]
	path = submodules/prolog.git
	url = git://github.com/pepeiborra/prolog.git
[submodule "submodules/prolog-tools.git"]
	path = submodules/prolog-tools.git
	url = git://github.com/pepeiborra/prolog-tools.git
[submodule "submodules/trsparser.git"]
	path = submodules/trsparser.git
	url = git://github.com/pepeiborra/trsparser.git
[submodule "submodules/alacarte.git"]
	path = submodules/alacarte.git
	url = git://github.com/pepeiborra/alacarte.git
[submodule "submodules/satchmo-backends"]
	path = submodules/satchmo-backends
	url = git://github.com/pepeiborra/satchmo-backends.git
[submodule "submodules/satchmo"]
	path = submodules/satchmo
	url = git://github.com/pepeiborra/satchmo.git
[submodule "submodules/control-monad-free.git"]
	path = submodules/control-monad-free.git
	url = git://github.com/pepeiborra/control-monad-free.git
[submodule "submodules/hoed"]
	path = submodules/hoed
	url = git://github.com/pepeiborra/hoed-mini
[submodule "submodules/hoed-extras"]
	path = submodules/hoed-extras
	url = git://github.com/pepeiborra/hoed-extras
[submodule "submodules/control-monad-free-extras"]
	path = submodules/control-monad-free-extras
	url = git://github.com/pepeiborra/control-monad-free-extras
[submodule "submodules/deepseq-extras"]
	path = submodules/deepseq-extras
	url = git://github.com/pepeiborra/deepseq-extras
[submodule "submodules/muterm-framework-charts"]
	path = submodules/muterm-framework-charts
	url = git://github.com/pepeiborra/muterm-framework-charts
[submodule "submodules/funsat"]
	path = submodules/funsat
	url = git://github.com/pepeiborra/funsat
[submodule "submodules/funsat-rpo"]
	path = submodules/funsat-rpo
	url = git://github.com/pepeiborra/funsat-rpo
[submodule "submodules/yices"]
	path = submodules/yices
	url = git://github.com/pepeiborra/yices-0.0.0.12
[submodule "submodules/bindings-yices"]
	path = submodules/bindings-yices
	url = git://github.com/pepeiborra/bindings-yices
